* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0rem;
  background-color: rgb(77, 75, 75);
  color: white;
  height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
}
#contenedor-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#cart-widget {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contenido-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgb(53, 51, 51);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
main {
  padding: 1rem;
  flex-grow: 1;
}

footer {
  background-color: rgb(53, 51, 51);
  text-align: center;
  padding: 0.5rem;
}
.columna-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo-store {
  width: 15rem;
}
/* .mensaje-props {
  text-align: center;
  background-color: rgb(53, 51, 51);
} */
.mensaje-props:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
